@model IEnumerable<SweetShop_MVC.Models.Item>



@{
    Layout = null;
}

@{
    ViewBag.Title = "Home Page";
}




<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sugar Bliss Delight</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">
    <style>

        body, html {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .background {
            background-image: url("https://images.pexels.com/photos/918327/pexels-photo-918327.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
            background-size: cover;
            background-position: center;
            height: 100%;
            position: relative;
        }

        .overlay {
            background-color: rgba(0,0,0,0.5);
            color: white;
            padding: 20px;
            border-radius: 10px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }




        h2 {
            color: white;
            /*font-style: italic;*/
            font-family: "Satisfy", cursive;
            font-weight: 400;
            font-style: normal;
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Sugar Bliss Delight", "Index", "Home", new { area = "" }, new { @class = "navbar-brand design1" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    @*<li>@Html.ActionLink("Admin Login", "Login", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("User Login", "UserLogin", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("SignUp", "SignUp", "Account", new { area = "" }, new { @class = "nav-link" })</li>*@

                    <li>@Html.ActionLink("About Us", "AboutPage", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact Us", "ContactPage", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                    <li>@Html.ActionLink("Admin Login", "Login", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("User Login", "UserLogin", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("SignUp", "SignUp", "Account", new { area = "" }, new { @class = "nav-link" })</li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="background">
        <div class="overlay">
            <p><h2 class="text-center mb-0 animate__animated animate__fadeInDown">Hi! Welcome to Sugar Bliss Delight!</h2> </p>

        </div>
    </div>


    @*<footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@


    <script>
        window.addEventListener('pageshow', function (event) {
            if (event.persisted) {
                location.reload(true);
            }
        });</script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Animate CSS JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.js"></script>


</body>
    </html>
