@model IEnumerable<SweetShop_MVC.Models.ordert>

@{
    ViewBag.Title = "Checkout1";
}
@*<style>
    .table {
        background-color: #0000007d;
        color: white;
        border-collapse: separate;
        width: 100%;
    }

    table th {
        border: 2px solid white;
        border-radius: 5px;
    }

    table td {
        border: 1px solid white;
        border-radius: 5px;
    }

    img {
        border-radius: 7px;
    }

    h2 {
        color: white;
    }

    .btn-pos {
        position: absolute;
        top: 90px;
        left: 295px;
    }

    .btn-pos1 {
        position: absolute;
        top: 132px;
        left: 258px;
    }
</style>*@
<style>
    body {
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    }
</style>
<h2>Product List</h2>
<p><a href="../Items/Index" class="btn btn-outline-dark">Back to Home</a></p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            Item Id
        </th>
        <th>
            Customer Id
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>
            Total Price
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.item_id)</td>
            <td>@Html.DisplayFor(modelItem => item.cust_id)</td>
            <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
            <td>Rs. @Html.DisplayFor(modelItem => item.price)</td>
            <td>Rs. @Html.DisplayFor(modelItem => item.total_price)</td>

        </tr>
    }
</table>
