@using SweetShop_MVC.Models
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Index";
    var orderData = new Dictionary<int, int>();
}

<style>
    body {
        background-color: #8EC5FC;
        background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    }
</style>



<h2>Cart</h2>

<p><a href="../Items/Index1" class="btn btn-outline-dark">Find All Products</a></p>


<table class="table table-bordered table-hover">
    <tr>
        <th>Product Image</th>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Quantity</th>
        <th>Product Amount</th>
        <th>Operations</th>
    </tr>

    @foreach (var item in (List<Items_InCart>)Session["cart"])
    {
        orderData.Add(item.Product.id, item.Quantity);
        <tr>
            <td>
                <img src="@item.Product.Image" alt="@item.Product.ItemName" width="100" height="100" />
            </td>
            <td>
                @item.Product.ItemName
            </td>
            <td>
                @item.Product.Price
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @(Int32.Parse(item.Product.Price) * item.Quantity)
            </td>
            <td>
                <a href="@Url.Action("RemoveFromCart", "Cart", new {@ProductID = item.Product.id })" class="btn btn-danger">-</a>
                <a href="@Url.Action("AddToCart", "Cart", new {@ProductID = item.Product.id })" class="btn btn-success">+</a>
            </td>
        </tr>

    }
    <tr>
        <td colspan="5"><h5 class="text-center">Total Amount to be paid</h5></td>
        <td>
            @{
                List<Items_InCart> cart = (List<Items_InCart>)Session["cart"];
                var total = (from data in cart select Int32.Parse(data.Product.Price) * data.Quantity).Sum();
            }

            <h2>@total  @Html.ActionLink("Checkout", "Checkout1", "Cart", new { OrderData = JsonConvert.SerializeObject(orderData) }, new { @class = "btn btn-success" })</h2>

            @*<a href="@Url.Action("Checkout", "Cart")" class="btn btn-primary">Pay @total</a>*@



        </td>
    </tr>

</table>





